<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>VIRTUOSO MINSK ART</title>
    <link rel="stylesheet" href="assets/index.css" type="text/css">
    <link rel="shortcut icon" href="assets/media/favicon.png">
</head>
<body>
    <div class="container">
        <header id="top">
            <div class="header-left">
                <div class="header-left-navbar">
                    <a href="#intro" class="hlnb-link">
                        Главная
                    </a>
                    
                    <a href="#museums" class="hlnb-link">
                        Крупные музеи Минска
                    </a>
                    
                    <a href="#meetings" class="hlnb-link">
                        Предстоящие выставки
                    </a>
                    
                    <a href="#about" class="hlnb-link">
                        О нас
                    </a>
                </div>

                <div class="header-left-locate">
                    г.Минск
                </div>
            </div>

            <div class="header-right">
                <img src="assets/media/logo.png" class="header-right-logo">
            </div>
        </header>

        <div class="content">
            <div id="intro" class="content-container">
                <div class="intro-inline">
                    <div class="intro-left">
                        <img src="assets/media/intro-image.png" class="intro-image">
                    </div>

                    <div class="intro-right">
                        Наслаждайтесь искусством, создавайте его и будьте в курсе всех событий Минска вместе с нами ;)
                    </div>
                </div>

                <div class="content-downarrow-container">
                    <img class="content-downarrow" src="assets/media/downarrow.png">
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-cut">
                <div class="footer-head">
                    <div class="footer-left">
                        О нас
                    </div>

                    <div class="footer-right">
                        <img src="assets/media/logo-white.png" class="footer-right-logo">
                    </div>
                </div>

                <div class="footer-content">
                    <div class="fcont-col">
                        <a href="#" class="fcont-item">
                            Наш проект
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Наши сотрудники
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Блог
                        </a>
                        
                        <a href="#" class="fcont-item">
                            форум
                        </a>
                    </div>
                    
                    <div class="fcont-col">
                        <a href="#" class="fcont-item">
                            Партнёрство
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Сообщество
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Интеграции
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Сотрудничество
                        </a>
                    </div>
                    
                    <div class="fcont-col">
                        <a href="#" class="fcont-item">
                            Экскурсии
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Цены
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Онлайн-встречи
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Выставки
                        </a>
                    </div>
                    
                    <div class="fcont-col">
                        <a href="#" class="fcont-item">
                            Фотоотчёт
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Написать нам
                        </a>
                        
                        <a href="#" class="fcont-item">
                            Отзывы
                        </a>
                    </div>
                </div>

                <a href="#top">
                    <div class="footer-uparrow">
                        <img src="assets/media/uparrow.png">
                    </div>
                </a>

                <div class="footer-copyright">
                    <div class="fc-design-by">
                        DESIGN BY QQPGBB
                    </div>

                    <div class="fc-dev-by">
                        DEV BY QURT
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>