@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Regular.ttf');
}

* {
	outline: none;
	font-family:'Montserrat';
}

html, body {
	padding:0;
	margin:0;
	background:#202020;
}

a {
	text-decoration:none;
	color:white;
}

.content {
	max-width:20em;
	margin:8em auto;
}

.land-content {

	max-width:40em;
	margin:4em auto;
}

.display__select-text {
	font-size:2em;
	color:white;
}

.display__select-text-small {
	font-size:0.9em;
	color:gainsboro;
}

.select-btn {
	padding:0.5em;
	color:#404040;
	background:gainsboro;
	margin:1em 0;
	transition:0.15s;
}

.select-btn a{
	color:#404040;
}

.select-btn:hover a{
	color:white;
}

.select-btn:hover {
	background:crimson;
	color:white;
	cursor:pointer;
}

.select-container{
	padding:1em 0;
}

.choose-block {
	margin:6em 0;
	width:23em;
}
a.choose-radio {
	padding:10px 20px;
	width:10em;
	text-decoration:none;
	text-align:center;
	margin:20px auto;
	display:inline-block;
	background-position:100% 0;
	background-size:200% 100%;
	transition:all .25s ease-in;
	font:400 18px tahoma;
}
a.choose-radio:hover {
	background-position:0 0;
	color:#202020;
}
button.choose-radio {
	padding:10px 20px;
	width:10em;
	text-decoration:none;
	text-align:center;
	margin:20px auto;
	display:inline-block;
	background-position:100% 0;
	background-size:200% 100%;
	transition:all .25s ease-in;
	font:400 18px tahoma;
}
button.choose-radio:hover {
	background-position:0 0;
	color:#202020;
}
.choose-radio {
	background:none;
	color:white;
	background-image:linear-gradient(to left,transparent,transparent 50%,#fff 50%,#fff);
	border:2px solid #fff;
}
.choose-radio:hover {
	cursor:pointer;
}

::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background:#2c2f36;}
::-webkit-scrollbar-thumb{background:#434e54;transition:0.3s;}
::-webkit-scrollbar-thumb:hover{background:silver;}

.form__input, .form__textarea, .form__submit {
	border:none;
	width:300px;
	margin:1em 0;
	padding:0.5em;
	resize:vertical;
	border-radius: 3px;
	transition: 0.15s;
}

.form__input, .form__textarea{
	border:2px solid white;
}

.form__input:focus {
	border-color:silver;
}

.form__textarea:focus {
	border-color:silver;
}

.form__submit {
	background:none;
	color:white;
	border:2px solid white;
	width:317px;
}

.form__submit:hover {
	background:white;
	color:#202020;
	cursor: pointer;
}

.contacts__link {
	width:40px;
	height:40px;
	padding:0.25em;
	margin:0.5em 1.6em 0.5em 0;
	transition: 0.15s;
}

.contacts__link:hover{
	cursor:pointer;
	opacity: 0.5;
}

.display__image {
	width:19em;
	height:auto;
	border-radius:6px;
}

.landing-content {
	display:flex;
	flex-direction: row;
	max-width:36em;
}

.photo-container {
	padding-top:4em;
}

.about-container {
	padding: 2em;
}

.landing__return-btn{
	border-bottom:2px solid white;
	padding:1em 0;
}

.rbtn{
	padding:1em;
	transition:0.2s;
}

.rbtn:hover {
	background:#1f1f1f;
}

.about-value {
	color:white;
}

.hobbies-container{
	max-width:25em;
}

@media screen and (max-width:718px){
	.content {
		width:300px;
	}

	.landing-content {
		flex-direction: column;
	}
	
	.photo-container {
		padding:4em 0 0 2em;
	}

	.hobbies-container, .feedback-container {
		padding-left:2em;
	}
}

@media screen and (max-width:415px){
	.content {
		width:250px;
	}

	.form__input, .form__textarea {
		width:90%;
	}

	.form__submit {
		width:95.3%;
	}

	.about-container, .hobbies-container {
		max-width:290px;
	}

	.display__select-text {
		font-size:1.5em;
	}

	.landing__return-btn {
		display:flex;
		flex-direction: column;
	}

	.rbtn {
	}
}

@media screen and (max-width:350px){
	.display__image {
		width:16em;
	}
}

@media screen and (max-width:321px){
	.content {
		width:230px;
	}
}